[submodule "vimrc/vim-pathogen"]
	path = vimrc/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "quickopen"]
	path = quickopen
	url = git@github.com:natduca/quickopen.git
[submodule "trace_event"]
	path = trace_event
	url = git@github.com:natduca/trace_event.git
[submodule "trace_event_viewer"]
	path = trace_event_viewer
	url = git@github.com:natduca/trace_event_viewer.git
[submodule "elisp/nyan-mode"]
	path = elisp/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
