[submodule "vimrc/vim-pathogen"]
	path = vimrc/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "quickopen"]
	path = quickopen
	url = git@github.com:natduca/quickopen.git
[submodule "trace_event"]
	path = trace_event
	url = git@github.com:natduca/trace_event.git
