[user]
  name = Nat Duca
  email = natduca@gmail.com
[color]
  status = auto
  diff = auto
  branch = auto
[add]
  ignoreErrors = true
	ignore-errors = true
[core]
  excludesfile = ~/.gitignore
	editor = vim -f
[branch]
  autosetuprebase = always
[push]
	default = simple
