[submodule ".vim/vim-pathogen"]
	path = .vim/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "quickopen"]
	path = quickopen
	url = http://github.com/natduca/quickopen.git
[submodule "trace_event"]
	path = trace_event
	url = http://github.com/natduca/trace_event.git
[submodule "trace_event_viewer"]
	path = trace_event_viewer
	url = http://github.com/natduca/trace_event_viewer.git
[submodule "elisp/nyan-mode"]
	path = elisp/nyan-mode
	url = http://github.com/TeMPOraL/nyan-mode.git
[submodule "adb_trace"]
	path = adb_trace
	url = https://github.com/johnmccutchan/adb_trace.git
[submodule "yasnippet"]
	path = yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "stgit"]
	path = stgit
	url = git://repo.or.cz/stgit.git
[submodule "SublimePackages/SublimeAllAutocomplete"]
	path = SublimePackages/SublimeAllAutocomplete
	url = https://github.com/alienhard/SublimeAllAutocomplete
[submodule "SublimePackages/babel-sublime"]
	path = SublimePackages/babel-sublime
	url = https://github.com/babel/babel-sublime
[submodule "drive-quick-search"]
	path = drive-quick-search
	url = https://github.com/axenol/drive-quick-search.git
